@import "tailwindcss";

@theme {
    --background-color-page: #020208;
    --color-scrollbar: #003da5;

    --color-uah-blue: #003da5;
    --color-uah-yellow: #fdda24;

    --color-attention: #ffc107;
    --color-attention-light: #ffe082;
    --color-input: #0e1014;
    --color-container: #0a0a11;

    --background-color-light: #171920;

    --text-color-placeholder: #737373;
    --text-color-dark: #dae0e7;
    --text-color-primary: #f7f9fa;
    --text-color-input: #a2a5b3;

    --border-color-primary: #161a21;
    --border-color-input: #1e232a;

    --radius-container: 22px;
    --radius-input: 15px;
    --radius-button: 15px;
}

@layer base {
    @font-face {
        font-family: "PlusJakartaSans";
        src: url("/fonts/PlusJakartaSans.ttf") format("truetype");
        font-style: normal;
        font-display: swap;
    }

    body {
        font-family: PlusJakartaSans, sans-serif;
        @apply bg-page text-primary cover-screen;
    }

    button,
    a {
        @apply cursor-pointer;
    }

    * {
        @apply touch-manipulation focus:outline-none;

        scrollbar-width: none;
        scrollbar-color: var(--color-scrollbar) transparent;
    }
}

@utility page-x-padding {
    @apply px-[6%] md:px-[13%] lg:px-[15%];
}

@utility cover-screen {
    @apply h-dvh w-full;
}

@utility x-center {
    @apply absolute left-1/2 -translate-x-1/2;
}

@utility y-center {
    @apply absolute top-1/2 -translate-y-1/2;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@layer components {
    .button-attention,
    .button-primary,
    .button-icon {
        @apply rounded-button flex items-center justify-center gap-2 px-5 py-2 text-lg font-medium transition-all duration-200 disabled:pointer-events-none disabled:opacity-50;

        & img,
        & svg,
        & [role="img"] {
            @apply size-7;
        }
    }

    .button-attention {
        @apply bg-attention hover:bg-attention-light text-container;
    }

    .button-primary {
        @apply text-input border-input bg-input hover:bg-light hover:text-primary border;
    }

    .container-primary {
        @apply rounded-container border-primary bg-container overflow-hidden border p-4;
    }
}
