@import "tailwindcss";

@theme {
    --color-page: #020208;

    --color-uah-blue: #003da5;

    --background-color-container: #0a0a11;
    --background-color-button: #712b2b;

    --text-color-primary: #f7f9fa;

    --radius-container: 20px;
    --radius-button: 15px;
}

@layer base {
    @font-face {
        font-family: "PlusJakartaSans";
        src: url("/fonts/PlusJakartaSans.ttf") format("truetype");
        font-style: normal;
        font-display: swap;
    }

    body {
        font-family: PlusJakartaSans, sans-serif;
        @apply bg-page text-primary cover-screen;
    }
}

@utility cover-screen {
    @apply h-screen w-full;
}

@utility x-center {
    @apply absolute left-1/2 -translate-x-1/2;
}

@utility y-center {
    @apply absolute top-1/2 -translate-y-1/2;
}

@utility button-primary {
    @apply bg-button rounded-button px-6 py-4 text-lg text-center font-medium;
}
