.page-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 17vw;
    box-sizing: border-box;
}

.page-navbar .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    box-sizing: border-box;
    background-color: var(--background-2-faded-3);
    border-radius: var(--border-radius-3);
    backdrop-filter: blur(25px);
    border: var(--color-1-faded) solid 1px;
}

.page-navbar .scroll-status-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}

.page-navbar .logo-container .logo-base64 {
    width: 60px;
    height: 60px;
}

.page-navbar .scroll-status-container .text {
    padding: 0px 20px;
    box-sizing: border-box;
    color: var(--text-color-light);
    user-select: none;
    cursor: pointer;
    font-family: "bold";
    font-size: 15px;
}

.page-navbar .scroll-status-container .text.active {
    color: var(--text-color);
}

.page-navbar .buttons-container .button {
    height: fit-content;
    display: flex;
    align-items: center;
}

.page-navbar .buttons-container .button svg {
    width: 40px;
    height: 40px;
}