.page-footer {
    width: 100%;
    height: fit-content;
    padding: 20px 17vw;
    box-sizing: border-box;
    background-color: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-footer .top-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.page-footer .top-section .text {
    color: var(--text-color-light);
    font-size: 11px;
    font-family: "bold";
}

.page-footer .bottom-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--background-3);
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.page-footer .bottom-section .logo {
    width: 65px;
    height: 65px;
}

.page-footer .bottom-section .text {
    color: var(--text-color-light);
    font-size: 11px;
    font-family: "bold";
}